apdev-examples/target/classes/apdev-examples.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="apdev-examplesFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/hello" doc:name="HTTP"/>
        <flow-ref name="subflow1" doc:name="subflow1"/>
        <flow-ref name="subflow2" doc:name="subflow2"/>
        <flow-ref name="flow2" doc:name="flow2"/>
        <logger message="Name:  #[message.outboundProperties.qpname] Type: #[flowVars.qptype] Colour:  #[sessionVars.colour]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="flow2">
        <set-payload value="Goodbye" doc:name="Set Payload"/>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
    <sub-flow name="subflow1">
        <set-payload value="#['Hello World'.toUpperCase()]" doc:name="Set Payload"/>
        <set-property propertyName="qpname" value="#[message.inboundProperties.'http.query.params'.name]" doc:name="Property"/>
    </sub-flow>
    <sub-flow name="subflow2">
        <set-variable variableName="qptype" value="#[message.inboundProperties.'http.query.params'.type]" doc:name="Variable"/>
        <set-session-variable variableName="colour" value="grey" doc:name="Session Variable"/>
    </sub-flow>
</mule>
