testdb/src/main/mule/testdb.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e24acf73-ea54-465f-9829-7acd238585f1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="a732663b-8602-47b7-a0df-330867e0b198" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="institution" />
	</db:config>
	<flow name="testdbFlow" doc:id="b5c5d9d9-4313-4cbb-8c81-7a61c2a7de32" >
		<http:listener doc:name="Listener" doc:id="c20ee08c-d659-45ea-837f-aadc3d48dd14" config-ref="HTTP_Listener_config" path="/testdbupdate"/>
		<db:select doc:name="Select" doc:id="4685c013-84eb-478f-b7bc-8e551e993d27" config-ref="Database_Config">
			<db:sql >SELECT * FROM student where grp=:data;</db:sql>
			<db:input-parameters ><![CDATA[#[{
	"data": attributes.queryParams.grp
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="6836903f-167a-446f-b6ec-f751974a5d9a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	
	"data":payload
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
